@import "normalize.scss",
"foundation.scss",
"../plugins/css/_bookblock.scss",
"../plugins/css/_demo1.scss",
"bourbon/bourbon";


@include font-face('Entypo', 'entypo/entypo');

@include font-face('Entypo-social', 'entypo-social/entypo-social');


// Inspired by the http://www.colourlovers.com/palette/92095/Giant_Goldfish color scheme
$dark-orange:#FA6900;
$light-orange:#F28232;
$white:white;
$light-blue:#A7DBD8;
$dark-blue:#69D2E7;


body, html {
	background-color:#010101;
	@media only screen and (min-width:768px) {
		// background-image:url('../img/serious.png');

	}
	background-repeat:no-repeat;
	height:100%;
}

.entypo {
	font-family:'Entypo';
}

.entypo-social {
	font-family:'Entypo-social';
}

.entypo, .entypo-social {
	color:$white;
}

h2 {
	color:$light-orange;
	margin:1em 1em 0em 1em;
	padding-bottom:0.5em;
	font-family:'Open Sans', $lucida-grande;
	font-weight:200;
}

h6 {
	color: #3D3A3A;
	a {
		color:rgba(250, 105, 0, 0.55);
	}
}

.logo {
	position:relative;
	width: 345px;
	height: 345px;
	display: block;
	margin: 0 auto;
	#canvas {
		position: absolute;
        left: 0px;
        z-index: 0;
        top: -22px;
	}
	.circle {
		border-radius: 100%;
		margin:1em auto;
		width:300px;
		text-align:center;
		padding:55px;
		position:relative;
		z-index:1000;
		@include transition (all 1s);
		&:hover {
			@include transform (rotate(180deg))
		}
	}
}


.subheader {
	color:$dark-blue;
	text-align:center;
}
.white-bg {
	background: url("paper.jpg");
	background-size: 100%;
}

.letterwall {
	position:relative;
	top:0;
	left:0;
	p {
		color: #3D3C3C;
		font-family: 'Lato';
		text-transform: uppercase;
		font-size: 2em;
		font-weight: 300;
		line-height: 1.1em;
		text-align: justify;
		padding: 5px 18px;
		max-width: 1190px;
		margin: 0 auto;		
		span {
			color:#3d3c3c;
		}
	}
	.slogan-bg {
		position: absolute;
		top: 35%;
		right: 0;
		background: rgba(255, 255, 255, 0.6);
		padding: 1em;
		height:108px;
		opacity: 0;
		overflow: hidden;
	}

	.slogan {
		position: absolute;
		top: 35%;
		right: 0;
		padding: 1em;
		text-align: right;
		opacity: 0;
		overflow: hidden;
		h1, h3 {
			font-family: 'Open Sans';
			font-weight: 200;
			margin-right: 1em;
		}
	}

}

.social {
	text-align: center;
	font-size:3em;
	.entypo-social, .entypo, i {
		color:$white;
		width: 47px;
		margin: 0;
		display: inline-block;
		border-radius: 100em;
		position:relative;
		top:0;
		left:0;
		@include transition (all 0.5s);
		&:hover {
			background:$light-orange;
			opacity:1;
			span.friend-count {
				opacity:1;
			}
		}	
	}
	span.friend-count {
	    font-family: 'Open Sans';
	    background: white;
	    color: orange;
	    border-radius: 10em;
	    font-size: 11px;
	    padding: 4px;
	    opacity:0;
	    position:absolute;
	    right:0px;
		@include transition (all 0.5s);
		top:29px;
	}
	i {
		font-size:0.6em;
		padding:0.25em;
		span {
			display: none;
		}
	}	

}

.social.font-awesome {
	display:none;
}

.bb-custom-wrapper {
	margin-top:1em;
	width:100%;
	text-align:left;
	.bb-bookblock {
		width:100%;
		height:403px;
		
		.bb-item {
			
		}
	}
}

.welcome {
	display: block;
	padding: 0.5em 1em;

	h1 {
		font-family:'Open Sans',  $verdana;
		font-weight:300;
		color: #E97F1D;
		border-bottom: 1px solid #FF7A00;
		padding-bottom: 0.25em;
		margin-bottom: 0.25em;
		font-size:2em;
	}
	h2 {
		font-family:'Open Sans',  $verdana;
		font-weight: 300;
		text-align: center;
	}

	p {
		font-family:'Open Sans',  $helvetica;
		font-weight:300;
		font-size:1.2em;
		color:$white;
		span {
			font-weight: 400;
		}
	}

	p.center {
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		padding: 1em;
	}
}

.portfolio-desc article {
    background:white;
    padding:0.5em;
    margin: 0.5em auto;
    position: relative;
	top: 8px;
	height:403px;
    h2 {
    	font-size: 1.5em;
		font-weight: 400;
		margin: 0.75em 0 0 0;
		padding: 0.25em .25em;
		border-bottom: 1px solid #F38630;
    }
    h3.subheader {
		font-size: 1.2em;
		text-align: left;
		border-left: 7px solid #C4F1FA;
		padding-left: 10px;
		margin: 0.5em;
		color: #1E7B92;
    }
    p  {
    	color:#186A75;
    	padding: 0 0.5em;
		font-size: 0.9em;
		margin: 0.8em 0;
    }
}

// For Raphael circles

.slide-decks {
	article {
		position: relative;
		display: block;
		width: 300px;
		height: 250px;
		margin: 0.5em auto;

		i {
			color: #FFF;
			position: absolute;
			font-size: 4.5em;
			z-index: 50;
			top: 24%;
			left: 38%;
			margin: 0 auto;
			display: none;
		}

		strong, p, b {
			position:absolute;
			top: 0;
			left:0;
			text-align: center;
			z-index:50;
			opacity: 0;
		}

		b {
			font-weight: 200;
			font-size: 2em;
			text-align: center;
			display: block;
			width: 100%;
			top: 54%;
			color:#F0F0F0;
			font-family: 'Open Sans Condensed', sans-serif;
		}


		a.overlay {
			background: rgba(0, 0, 0, 0.52);
			height: 100%;
			width: 100%;
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			z-index: 70;
			opacity: 0;
			@include transition (0.5s);
			&:hover {
				opacity: 1;
			}
		}

		p {
			top: 37%;
			width: 60%;
			margin: 0 20%;
			a {
				color:rgba(240, 240, 240, 0.86);
			}
		}

		span.entypo {
			color: #FFF;
			position: absolute;
			display: block;
			text-align: center;
			top: 9%;
			left: 0;
			width: 100%;
			z-index: 50;
			font-size: 9em;
		}

	span {
			svg {
				display:block;
				margin: 0 auto;
				position:relative;
			}
		}
	}
}

// Reveal modal for custom presentations option

.reveal-modal {
	h2 {
		margin-left:0;
		margin-bottom:0;
		padding-bottom:0;
	}
	p.subheader {
		border-left: 10px solid #69D2E7;
		text-align: left;
		padding-left: 0.5em;
		margin-left: 0.5em;
		font-size: 1.3em;
		color: #5F5F5F;
	}

	a.button {
		font-family: 'Open Sans', $helvetica;
		font-weight: 200;
		span.entypo {
			font-size: 31px;
			padding: 0;
			margin: 0;
			position: relative;
			right: 5px;
			top: 2px;
		}
	}
}


// For Tabulous

#tabs {
	width: 666px;

	margin: 0 auto;
	margin-bottom: 40px;
	ul {
		margin:0 auto;
		li {
			float: left;
			margin-right: 2px;
			list-style-type:none;
			font-family: 'Open Sans';
			font-weight: 200;
			a {
				display: block;
				padding: 17px 30px;
				background: $light-orange;
				text-decoration: none;
				color: $white;
				&:hover {
					background:$white;
					color:$dark-orange;
				}
			}
		}		
	}

	#tabs_container {
		padding: 40px;
		overflow: hidden;
		position: relative;
		background: white;
		div {
			margin-right: 40px;
		}
	}
// Media query for #tabs on mobile browsers
	@media only screen and (min-width:481px) and (max-width:652px) {
		width:480px;
		ul li a {
			padding:13px;
		}
	}
	@media only screen and (max-width:480px) {
		width: 90%;
		margin: 0 auto;
		ul li a {
			padding: 1em 0.5em;
			font-size: 0.8em;
			margin: 0;
		}
		#tabs_container {
			font-size: 0.9em;
			#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 {
			}
		}
	}
}


.transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidescale {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideleft {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showleft {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hidescaleup {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscaleup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transform: rotatey(-90deg) scale(1.1);
	-moz-transform: rotatey(-90deg) scale(1.1);
	-o-transform: rotatey(-90deg) scale(1.1);
	-ms-transform: rotatey(-90deg) scale(1.1);
	transform: rotatey(-90deg) scale(1.1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.showflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;

	-webkit-transform: rotatey(0deg) scale(1);
	-moz-transform: rotatey(0deg) scale(1);
	-o-transform: rotatey(0deg) scale(1);
	-ms-transform: rotatey(0deg) scale(1);
	transform: rotatey(0deg) scale(1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.tabulous_active {
	background: white !important;
	color: #655c89 !important;
}

.tabulousclear {
	display: block;
	clear: both;
}