

@import "normalize.scss",
"foundation.scss",
"bourbon/bourbon";

@include font-face('Entypo', 'entypo/entypo');

@include font-face('Entypo-social', 'entypo-social/entypo-social');


// Inspired by the http://www.colourlovers.com/palette/92095/Giant_Goldfish color scheme
$dark-orange:#FA6900;
$light-orange:#F38630;
$white:#F1F1EE;
$light-blue:#A7DBD8;
$dark-blue:#69D2E7;


body, html {
	background-color:$dark-blue;
	height:100%;
}

.entypo {
	font-family:'Entypo';
}

.entypo-social {
	font-family:'Entypo-social';
}

.entypo, .entypo-social {
	color:$white;
}

h2 {
	color:$light-orange;
	margin:1em 1em 0em 1em;
	padding-bottom:0.5em;
	font-family:$lucida-grande;
}

.circle {
	background: $white;
	border-radius: 100%;
	margin:1em auto;
	width:300px;
	text-align:center;
	padding:55px;
	@include transition (all 1s);
	&:hover {
		@include transform (rotate(180deg))
	}
}

.subheader {
	color:$dark-blue;
	text-align:center;
}


.social {
	text-align: center;
	font-size:3em;
	.entypo-social, .entypo {
		color:$white;
		@include transition (all 0.5s);
		&:hover {
			color:$light-orange;
			font-size:1.2em;
		}		
	}

}

#main {
	background:$white;
	width:100%;
	text-align:center;
	padding-bottom:1em;
}