@import "normalize.scss",
"foundation.scss",
"../plugins/css/_bookblock.scss",
"../plugins/css/_demo1.scss",
"bourbon/bourbon";


@include font-face('Entypo', 'entypo/entypo');

@include font-face('Entypo-social', 'entypo-social/entypo-social');


// Inspired by the http://www.colourlovers.com/palette/92095/Giant_Goldfish color scheme
$green:#cccc00;
$white:white;
$light-blue:#A7DBD8;
$dark-blue:#69D2E7;


body, html {
	background-color:#010101;
	font-family:'Lato', $helvetica;
	@media only screen and (min-width:768px) {
		// background-image:url('../img/serious.png');

	}
	background-repeat:no-repeat;
	height:100%;
}

h1, h2, h3, h4, h5, h6, p, strong, b {
	font-family:'Lato',$helvetica;
}

.entypo {
	font-family:'Entypo';
}

.entypo-social {
	font-family:'Entypo-social';
}

.entypo, .entypo-social {
	color:$white;
}

h2 {
	color:$green;
	margin:1em 1em 0em 1em;
	padding-bottom:0.5em;
	font-weight:200;
}

h6 {
	color: #3D3A3A;
	a {
		color:rgba(250, 105, 0, 0.55);
	}
}

.logo {
	position:relative;
	width: 345px;
	height: 345px;
	display: block;
	margin: 2em auto 0;
	@media only screen and (max-width:320px) {
		width:300px;
		height:300px;
	}

	#canvas {
		position: absolute;
        left: 0px;
        z-index: 0;
        top: -22px;
	}
	.circle {
		border-radius: 100%;
		margin:1em auto;
		width:300px;
		text-align:center;
		padding:55px;
		position:relative;
		z-index:1000;
		@include transition (all 1s);
		&:hover {
			@include transform (rotate(180deg))
		}
		@media only screen and (max-width:320px) {
			width:auto;
			padding:32px;
		}
	}
}

#postRaphaelmessage {
	h1 {
		text-transform: none;
		font-size:2.3em;
		text-align: center;
		color:#464646;
		font-weight:200;
		span {
			color: #ADADAD;
			text-transform: uppercase;
			font-weight:400;
		}
		i {
			font-size: 2em;
		}
	}
}

.subheader {
	color:$dark-blue;
	text-align:center;
}

#fade4 {
	opacity: 1;
	background-size: 100%;
	padding: 3em;
	margin: 3em 0 0em;
	border-top: 4px #808080 solid;
	border-bottom: 4px #808080 solid;
	background: url('black_lozenge.png');
	background-size:76px 76px;
	background-repeat:repeat;
	position: relative;
	z-index: 3000;
}

.servicesTitle h2 {
	background: rgba(48, 48, 48, 0.84);
	padding: 1em;
	color: #FFF;
	font-size: 2em;
	text-align: center;
	margin-bottom: 1em;
	position: relative;
	bottom: 84px;
	left: 49px;
	@media only screen and (max-width:1058px) {
		bottom: 0;
		left: 0;
		margin: 1em 0;
		font-size: 1.5em;
	} 
}

.letterwall {
	position:relative;
	top:0;
	left:0;
	p {
		color: #3D3C3C;
		text-transform: uppercase;
		font-size: 2em;
		font-weight: 300;
		line-height: 1.1em;
		text-align: justify;
		padding: 5px 18px;
		max-width: 1190px;
		margin: 0 auto;		
		span {
			color:#3d3c3c;
		}
	}

}

.social {
	text-align: center;
	font-size:3em;
	.entypo-social, .entypo, i {
		color:$white;
		width: 47px;
		margin: 0;
		display: inline-block;
		border-radius: 100em;
		position:relative;
		top:0;
		left:0;
		@include transition (all 0.5s);
		&:hover {
			background:$green;
			opacity:1;
			span.friend-count {
				opacity:1;
			}
		}	
	}
	span.friend-count {
	    background: white;
	    color: $green;
	    border-radius: 10em;
	    font-size: 11px;
	    padding: 4px;
	    opacity:0;
	    position:absolute;
	    right:0px;
		@include transition (all 0.5s);
		top:29px;
	}
	i {
		font-size:0.6em;
		padding:0.25em;
		span {
			display: none;
		}
	}	

}

.social.font-awesome {
	display:none;
}

.portfolioTitle {
	margin: 0 0 1em 0;
	background: #CC0;
	color: #000;
	font-size: 1.5em;
	padding-top: 10px;
	position: relative;
	bottom: 12px;
	width: 208px;
	right: 75px;
	font-family: 'Lato';
	text-transform: uppercase;
	@media only screen and (max-width:480px) {
		margin: 0 auto;
		position: relative;
		bottom: 12px;
		width: 80%;
		right: 0;
		text-align: center;
	}
}

// For bookblock portfolio
.bb-custom-wrapper {
	margin-top:1em;
	width:100%;
	text-align:left;
	position:relative;
	left:0;
	top:0;
	.bb-bookblock {
		width:100%;
		height:403px;
		.portfolio-desc {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 3000;
			width: 100%;
			max-width: 970px;
			article {
				background: rgba(0, 0, 0, 0.86);
				padding: 0.5em 3em;
				margin: 0.5em auto;
				opacity: 0;
				@media only screen and (max-width:481px) {
					display:none;
				}
			    h2 {
					font-size: 1.5em;
					font-weight: 400;
					border-bottom: 1px solid #FFF;
					color: #FFF;
					text-transform: uppercase;
					margin-left: 0;
					span {
						font-size: 0.9em;
						text-transform:none;
						font-style: oblique;
						font-weight:200;
				    }
			    }

			    p  {
					color: #FFF;
					font-size: 1em;
					font-weight: 300;
			    }
			    p.info-links {
			    	position: absolute;
					right: 0px;
					bottom: 8px;
					background: #FFF;
					padding: 5px 10px;
					margin: 0;
					border-top-left-radius: 1em;
					color: #000;
			    }
			}
		} 
		nav {
			#bb-nav-prev, #bb-nav-next {
				position: absolute;
				color: #FFF;
				z-index: 2000;
				background: rgba(0, 0, 0, 0.86);
				border-radius: 100%;
				font-size: 2em;
				opacity: 1;
				height: 50px;
				width: 50px;
				text-align: center;
				padding-top: 9px;
				margin: 20% 1em 1em 1em;
				@media only screen and (min-width:481px) and (max-width:768px) {
					margin: 0 1em 1em 1em;
					top:44%;
				}
				@media only screen and (max-width:480px) {
					top: 103%;
					background: rgba(161, 172, 42, 0.86);
					border-radius: 100%;
					font-size: 1em;
					height: 30px;
					width: 30px;
					margin: 0 38% 0 38%;
				}	
			}
			#bb-nav-prev {
				left:0px;
			}
			#bb-nav-next {
		    	right:0px;
			}
		}
	}
}

.welcome {
	display: block;
	padding: 0.5em 1em;

	h1 {
		font-weight:300;
		color: #E97F1D;
		border-bottom: 1px solid #FF7A00;
		padding-bottom: 0.25em;
		margin-bottom: 0.25em;
		font-size:2em;
	}
	h2 {
		font-weight: 300;
		text-align: center;
	}

	p {
		font-weight:300;
		font-size:1.2em;
		color:$white;
		span {
			font-weight: 400;
		}
	}

	p.center {
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		padding: 1em;
	}
}

#fade1 {
	@media only screen and (max-device-width : 1024px) {
		display: none;
	}
}


#fade2 {
	background: url('pw_maze_black.png');
	z-index: 1000;
	position: relative;
}

// For Raphael circles

.slide-decks {
	article {
		position: relative;
		display: block;
		width: 300px;
		height: 250px;
		margin: 0.5em auto;

		i {
			color: #FFF;
			position: absolute;
			font-size: 4.5em;
			z-index: 50;
			top: 24%;
			left: 38%;
			margin: 0 auto;
			display: none;
		}

		strong, p, b {
			position:absolute;
			top: 0;
			left:0;
			text-align: center;
			z-index:50;
			opacity: 0;
		}

		b {
			font-weight: 200;
			font-size: 2em;
			text-align: center;
			display: block;
			width: 100%;
			top: 54%;
			color:#F0F0F0;
		}


		a.overlay {
			background: rgba(0, 0, 0, 0.52);
			height: 100%;
			width: 100%;
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			z-index: 70;
			opacity: 0;
			@include transition (0.5s);
			&:hover {
				opacity: 1;
			}
		}

		p {
			top: 37%;
			width: 60%;
			margin: 0 20%;
			a {
				color:rgba(240, 240, 240, 0.86);
			}
		}

		span.entypo {
			color: #FFF;
			position: absolute;
			display: block;
			text-align: center;
			top: 9%;
			left: 0;
			width: 100%;
			z-index: 50;
			font-size: 9em;
		}

	span {
			svg {
				display:block;
				margin: 0 auto;
				position:relative;
			}
		}
	}
}

// Reveal modal for custom presentations option

.reveal-modal {
	h2 {
		margin-left:0;
		margin-bottom:0;
		padding-bottom:0;
	}
	p.subheader {
		border-left: 10px solid #69D2E7;
		text-align: left;
		padding-left: 0.5em;
		margin-left: 0.5em;
		font-size: 1.3em;
		color: #5F5F5F;
	}

	a.button {
		font-weight: 200;
		span.entypo {
			font-size: 31px;
			padding: 0;
			margin: 0;
			position: relative;
			right: 5px;
			top: 2px;
		}
	}
}

footer {
	h6 {
		@media only screen and (max-width:480px) {
			text-align: center;
		}
	}
}


#examples-pin { position: relative; width: 100%; height: 600px; overflow: hidden; margin-bottom: -200px; }
.pin-frame {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden; 
	h2 {
		background: rgba(0, 0, 0, 0.61);
		margin: 0.5em 0.75em;
		padding: 0.25em 0.5em;
		display: inline-block;
		font-size:3.2em;
	}
	div.tagline {
		background: rgba(0, 0, 0, 0.48);
		display:inline-block;
		margin-left: 2.4em;
		p {
			color:white;
			font-size:2em;
			margin: 0.25em 0.4em;
			font-weight:200;
			display: inline-block;
			padding: 0.25em;
		}
	}

}

.bg1 {
	background:url(../img/bg1.jpg);

}

.bg2 {
	background:url('black_lozenge.png');
	background-size:76px 76px;
	background-repeat:repeat;
}

.bg3 {
	background:url(../img/bg3.jpg);
}

.bg4 {
	background-image:url(pw_maze_black.png);
}

.bg5 {
	background-image:url(../img/bg5.png);
}

.bg1, .bg3, .bg5 {
	background-size:100% auto;
	background-repeat:no-repeat;
}

#pin-frame-sliding-right {
	margin-left:-100%; 
}

#pin-frame-sliding-left {
	left:100%; 
}

#pin-frame-wipe  {  top:100%; }
#pin-frame-wipe h2  { color: #D92B00; }
#pin-frame-bounce  { 
}
#pin-frame-color  {  }
#pin-frame-unpin  { top:100%; }

@media only screen and (max-device-width: 1024px) { 
	#examples-pin {
		height:auto;
		margin:0;
	}

	.pin-frame {
		position:static;
		height:512px;
		div.tagline {
			h2 {
				font-size:2.42em;
			}
			p {
				font-size:1.5em;
			}

		}
	}
	#pin-frame-sliding-left, #pin-frame-sliding-right, #pin-frame-wipe, #pin-frame-unpin {
		margin:0;
		left:0;
		top:0;
	}

	#pin-frame-unpin {
		height:0;
	}

	#pin-frame-sliding-right {
		height:auto;
	}	
}


#notepad {
	display: inline-block;
	vertical-align: top;
	margin-left: 11%;

}









