{
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "standard",
    "plugin:cypress/recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
